# Header

In [ ]:
import pandas as pd
from pathlib import Path
import os
import hvplot.pandas
import numpy as np
from datetime import date

In [21]:
project_path = Path("./all_perth_310121.csv")

In [22]:
df = pd.read_csv(project_path)
df.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [49]:
price_by_dist_bed = df[['SUBURB', 'BEDROOMS', 'PRICE']].groupby(['SUBURB','BEDROOMS']).mean()
price_by_dist_bed = price_by_dist_bed.reset_index()
price_by_dist_bed['PRICE'] = round(price_by_dist_bed['PRICE'], 0)
price_by_dist_bed

                 SUBURB  BEDROOMS      PRICE
0     Alexander Heights         2   300000.0
1     Alexander Heights         3   382956.0
2     Alexander Heights         4   471628.0
3     Alexander Heights         5   613000.0
4     Alexander Heights         6   537500.0
...                 ...       ...        ...
1469             Yokine         1   700000.0
1470             Yokine         2   555000.0
1471             Yokine         3   567752.0
1472             Yokine         4   684400.0
1473             Yokine         5  1820000.0

[1474 rows x 3 columns]

In [51]:
#Budget calculator
#Inputs
bedrums = imput(')3
suburb = 'Waterford' 
budget = price_by_dist_bed.loc[(price_by_dist_bed['BEDROOMS'] == bedrums) & (price_by_dist_bed['SUBURB'] == suburb)]
budget

         SUBURB  BEDROOMS     PRICE
1359  Waterford         3  871592.0

In [42]:
#Districts 
plan_bedrums = 5
plan_budget = 350000
plan_suburbs = price_by_dist_bed.loc[(price_by_dist_bed['BEDROOMS'] == plan_bedrums) & (price_by_dist_bed['PRICE'] <= plan_budget)]
plan_suburbs

             SUBURB  BEDROOMS          PRICE
32         Armadale         5  223500.000000
236         Calista         5  346083.333333
357      Cooloongup         5  329090.000000
521        Gosnells         5  316250.000000
790            Leda         5  333750.000000
815      Maddington         5  270000.000000
869          Medina         5  344500.000000
1089       Parmelia         5  269166.666667
1189  Seville Grove         5  315100.000000

In [24]:
df['PRICE_PER_METER'] = df['PRICE'] / df['FLOOR_AREA']
df.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,PRICE_PER_METER
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN,3531.250000
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0,2625.899281
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0,3337.209302
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN,4322.033898
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN,2480.916031

In [25]:
price_per_meter = df[['SUBURB', 'PRICE_PER_METER', 'LATITUDE', 'LONGITUDE']].groupby(['SUBURB']).mean()
price_per_meter = price_per_meter.reset_index()
price_per_meter.head()

              SUBURB  PRICE_PER_METER   LATITUDE   LONGITUDE
0  Alexander Heights      2809.876942 -31.826960  115.864533
1        Alfred Cove      4799.624781 -32.033892  115.815895
2            Alkimos      2349.670844 -31.616570  115.688127
3           Anketell      3773.778550 -32.215347  115.878144
4         Applecross      6408.050428 -32.013722  115.838125

In [48]:
price_per_meter.hvplot.points(
    'LONGITUDE', 
    'LATITUDE', 
    geo=True, 
    size='PRICE_PER_METER',
    scale=.1,
    color='PRICE_PER_METER',
    tiles='OSM',
    frame_width=700,
    frame_height=500
    )

WARNING:param.main: text option not found for points plot with bokeh; similar options include: []

:Overlay
   .Tiles.I  :Tiles   [x,y]
   .Points.I :Points   [LONGITUDE,LATITUDE]   (PRICE_PER_METER)

In [28]:
#Morgage calculator
def morgagecalculator (morgage, years, interest):
    interest = interest / 100
    nper = years*12
    interest_monthly = interest/12
    numerator = interest_monthly*((1+interest_monthly)**nper)
    denominator = (1+interest_monthly)**nper-1
    payment = float("{0:.2f}".format(morgage*numerator/denominator))
    return(payment)

In [29]:
morgagecalculator(3000000,20,4)

18179.41