In [8]:
import pandas as pd
from pathlib import Path

In [9]:
#Creating path
project_path = Path("./Residential Property Price .csv")

In [10]:
#Reading csv file
df = pd.read_csv(project_path)
df.head()

              SUBURB  MEDIAN HOUSE PRICE GROWTH PERCENTAGE
0                NaN                 NaN  (LAST 12 MONTHS)
1  Alexander Heights            490000.0             8.90%
2        Alfred Cove            921000.0            17.00%
3            Alkimos            452500.0            10.40%
4           Anketell                 0.0             0.00%